QPushButton::menu-indicator{
    width: 0px;
    image:none;
}

/* 程序主功能按钮样式定义 ---------------------------------------------- */
QPushButton[forUse='installBtn'] {
    color:#c4576c;
    font-size:18px;
    font-weight:500;
    padding: 2px 10px;
    background-color:#ffffff;
    border: 1px solid #ffffff;
    border-radius: 15px;
    min-width: 96px;
}

QPushButton[forUse='installBtn']:hover{
    border: 1px solid #f3d1d7;
    background-color:#f3d1d7;
}

QPushButton[forUse='installBtn']:pressed{
    border: 1px solid #f3d1d7;
    background-color:#f3d1d7;
}

QPushButton[forUse='uninstallBtn'] {
    color:#ffffff;
    font-size:18px;
    font-weight:500;
    padding: 2px 10px;
    background-color:#c4576c;
    border: 1px solid #c4576c;
    border-radius: 15px;
    min-width: 96px;
}

QPushButton[forUse='uninstallBtn']:hover{
    border: 1px solid #c4576c;
    background-color:#c4576c;
}

QPushButton[forUse='uninstallBtn']:pressed{
    border: 1px solid #c4576c;
    background-color:#c4576c;
}

/* 程序次要功能按钮样式定义 ------------------------------------------- */
QWidget[forUse='wrapper']{
    background-color:#e08b9c;
    border:1px solid rgba(255,255,255,50%);
    border-radius: 10px;
}

QWidget[forUse='wrapper']  QFrame[forUse='hSplit'] {
    margin-left:3px;
    margin-right:3px;
    padding:0px;
    color:rgba(255,255,255,50%);
}

QPushButton[forUse='iconBtn'] {
    font-family:iconfont-zentao;
    color:rgba(255,255,255,70%);
    font-size:12px;
    font-weight:500;
    background-color:transparent;
    margin:0px;
    padding:0px;
}

QPushButton[forUse='iconBtn']:hover{
    color:#FFFFFF;
}

QPushButton[forUse='iconBtn']:pressed{
    color:#FFFFFF;
}

QPushButton[forSize='big'] {
    font-size:18px;
}


/* 服务功能模块样式定义 ---------------------------------*/
QWidget[forUse='service']{
    background-color:transparent;
    border:1px solid rgba(255, 255, 255, 50%);
    border-radius: 4px;
}

QWidget[forUse='service'] QLabel[forUse='title']{
    font-size: 14px;
    color: #ffffff;
}

QLabel[forColor='success']{
    color:#52ffa4;
}

QLabel[forColor='warning']{
    color: #af3a54 ;
}

QLabel[iconSize='normal']{
    font-size: 6px;
}

QLabel[iconSize='big']{
    font-size: 15px;
}

QLabel[forUse='lblsuccess']{
    font-size: 14px;
    color: #ffffff;
}

QLabel[forUse='lblwarning']{
    font-size: 14px;
}

QLabel[forLang='en']{
    font-size: 10px;
}

QLabel[forLang='en']{
    font-size: 10px;
}

QLabel[forUse='iconsuccess']{
    font-family:iconfont-zentao;
    font-weight:500;
    background-color:transparent;
    margin:0px;
    padding:0px;

}

QLabel[forUse='iconwarning']{
    font-family:iconfont-zentao;
    font-weight:500;
    background-color:transparent;
    margin:0px;
    padding:0px;

}

/* 服务菜单小图标 */
QPushButton[forUse='serviceMore']{
    font-family:iconfont-zentao;
    color: rgba(255, 255, 255, 50%);
    font-size:5px;
    font-weight:500;
    background-color:transparent;
    margin:0px;
    padding:0px;

}

/* 日志tab相关样式定义 ------------------------------------------------- */
QWidget[forUse='tabContainer'] {
    border-bottom:1px solid #922a3f;
    background-color:transparent;
}

QPushButton[forUse='tabBtn'] {
    color:#922a3f;
    font-size:12px;
    font-weight:500;
    margin:0px;
    padding:2px 0px;
    background-color:transparent;
}

QPushButton[forUse='tabBtn']:hover{
    color:#c60026;
}

QPushButton[forUse='tabBtn']:pressed{
    color:#c60026;
}

QPushButton[forUse='tabBtn']:checked{
    color:#c60026;
}

/* 日志内容相关样式定义 ------------------------------------------------- */
QTextEdit{
    color: #914656;
    font-size: 12px;
    border:0px solid #ffffff;
    background-color:transparent;
}

/*垂直滚动条*/
QScrollBar:vertical{
    width:10px;
    margin:0px,0px,0px,0px;
    padding-top:0px;
    padding-bottom:0px;
    background-color: #f4d7dd;
    border-radius: 5px;
}
QScrollBar::handle:vertical{
    min-height:10;
    background-color: #e9aeba;
    border-radius: 5px;
}

QScrollBar::sub-line:vertical{
    height:0px;
    subcontrol-position:top;
}

QScrollBar::add-line:vertical{
    height:0px;
    subcontrol-position:bottom;
}

QScrollBar::add-page:vertical{
    background-color:transparent;
}
QScrollBar::sub-page:vertical{
    background-color:transparent;
}

/* 弹出菜单样式 ------------------------------------------------- */
QWidget[forRadius='nestedMenu']{
    border-radius: 1px;
}

QWidget[forRadius='mainMenu']{
    border-radius: 4px;
}

QWidget[forUse='customMenu']{
    background-color:#e9aeba;
}

QWidget[forUse='customMenu'] QPushButton{
    color: #ffffff;
    font-size: 12px;
    background-color:transparent;
    padding: 4px 15px;
    border: none;
}

QWidget[forUse='customMenu'] QPushButton:pressed{
    background-color:#de97a6;
}

QWidget[forUse='customMenu'] QPushButton:hover{
    background-color:#de97a6;
}

QMenu[forRadius='radiusMenu'] {
	border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

QMenu[forUse='menu'] {
	border: none;
	background-color: #e9aeba; 
	font-size: 12px; 
}

QMenu[forUse='menu']::item { 
	border: none;
	background-color: transparent;
	color: #ffffff; 
    padding: 4px 15px;
}

QMenu[forUse='menu']::item:selected { 
    background-color: #de97a6; 
}

QMenu[forUse='menu']::item:disabled { 
	color: rgba(255, 255, 255, 50%);
}

/* 弹出对话框样式 ------------------------------------------------*/
QWidget[forUse='window'] {  
    background-color: #c4576c;
    border-radius: 4px;
}

QWidget[forUse='window']  QFrame {
    padding:0px;
    color:#ffffff;
}

QWidget[forUse='window'] QLabel {
    color: #ffffff;
    font-size: 14px;
}

QWidget[forUse='window'] QLineEdit {
    color: #ffffff;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 4px 8px;
}

QWidget[forUse='window'] QLineEdit:disabled {
    color: rgba(255, 255, 255, 60%);
    border: 1px solid rgba(255, 255, 255, 60%);
}

QPushButton[forUse='yes'] {
    color:#ffffff;
    font-size:14px;
    font-weight:500;
    margin:0px;
    padding:2px 15px;
    background-color:transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

QPushButton[forUse='no'] {
    color:rgba(255, 255, 255, 60%);
    font-size:14px;
    font-weight:500;
    margin:0px;
    padding:2px 15px;
    background-color:transparent;
    border: 1px solid rgba(255, 255, 255, 60%);
    border-radius: 4px;
}


/* 托盘菜单样式 */
QMenu[forUse='tray'] { 
	font-size: 14px; 
}


/* 页脚版权信息样式 ------------------------------------------------*/
QLabel#footor {
    color:rgba(255,255,255,70%);
    font-size: 12px;
}

/* apache设置样式 --------------------------------------------------*/
QCheckBox {
    color:rgba(255,255,255,70%);
    font-size: 12px;
}


QLabel[forUse='setting'] {
    color:rgba(255,255,255,70%);
    font-size: 12px;
}

/* button link --------------------------------------------------*/
QPushButton[forUse='link'] {
    color:rgba(255,255,255,70%);
    font-size:12px;
    background-color:transparent;
    margin:0px;
    padding:0px;
    /* font-style:italic; */
    /* text-decoration:underline; */
    /* font-weight: 500; */
}

QPushButton[forUse='link']:hover{
    color:#FFFFFF;
}

QPushButton[forUse='link']:pressed{
    color:#FFFFFF;
}

QLabel[forUse='checked']{
    font-size: 10px;
    color:#FFFFFF;
    font-size: 10px;
}

